extends ../layouts/default

block content
	.container: .jumbotron
		img(src='http://www.qzuji.com/static/assets/images/logo_wd.png', width='160')
		h1 Welcome
		p 在这里和大家分享 <a href='http://qzuji.com' target='_blank'>趣租机</a> 平台创办和运营过程中遇到的各种问题和解决方案，还有对机器人租赁服务的一些想法.
		p 欢迎志同道合的朋友来这里分享自己关于机器人的任何经验和想法。
		p 申请投稿可发送Email <a href='mailto:service@qzuji.com'>service@qzuji.com</a> 或者QQ：44282588.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		
